
<!-- start /components/form.auth/-->
<link rel="stylesheet" href="/components/form.auth/style.css"/>
<script src="/components/form.auth/script.js"></script>
<section class="b-container b-content">
  <h1 class="i-center">Восстановление пароля</h1>
  <hr/>
  <form action="/" method="get">
    <fieldset>
      <div class="b-fieldset-content">
        <p>На Ваш email , будет отправлена инструкция, как восстановить доступ в Ваш личный кабинет.</p>
        <div class="b-form-field i-float">
          <label class="b-label">Email</label>
          <input type="email" name="email" value="" data-or="login" class="b-input-text"/>
        </div>
        <hr/>
        <div class="b-form-field i-float">
          <label class="b-label">Или логин</label>
          <input type="text" name="login" value="" data-or="login" class="b-input-text"/>
        </div>
      </div>
    </fieldset>
    <hr class="i-size-L"/>
    <div class="b-form-submit">
      <button type="submit" class="b-button i-scheme-2">Войти</button>
    </div>
  </form>
</section>
<!-- end /components/form.auth/-->