@import '../../styl/component-include.styl'

.b-catalog-list-line
  overflow hidden
  position relative
  width 100%
  padding-top: 23.3%;
    
  @media ( max-width: 800px)
    padding-top: 70%;
  
  @media ( max-width: 1300px ) and ( min-width: 801px )
    padding-top: 35%;
  
  @media ( min-width: 1301px )
    padding-top: 23.3%;

.b-cll

  &__cont
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    @media ( max-width: 800px)
      width: 300%;
    
    @media ( max-width: 1300px ) and ( min-width: 801px )
      width: 150%;
    
    @media ( min-width: 1301px )
      width: 100%;
  
  
.b-list 
  position: relative;
  overflow hidden
  
  &:after
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    
  &__img
    width: 100%;
    height: auto;
    vertical-align: bottom;
    //.opacity(0);
    //.transition( opacity 0.5s ease );
    
  &.i-img-loaded:hover &__big-img
    //.opacity(1);
  
  &__props
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing( border-box )
    padding: 10px 20px;
    font-size: 9pt;
    line-height 50px
    background-color rgba(0,0,0,0.85)
    transition( all 0.3s ease )
    z-index: 12;

  &__name
    float left
    margin-right 20px
      
  &__title
    float left
    margin-right 20px
  
  &__price
    float right
    
    
  //shutter when hover
  &__shutter
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    width 100%
    height 100%
    background-color rgba(0,0,0,0.5)
    opacity(0)
    text-align center
    color #fff
    transition( opacity 0.5s ease )
    z-index 13
  
  &__sh-title
    display block
    position absolute
    top 60%
    left 0
    width 100%
    font-size 13.5pt
    font-weight bold
    transition( top 0.5s ease )
  
  &__sh-price
    display block
    position absolute
    top 70%
    left 0
    width 100%
    transition( top 0.5s ease )
  
  &__sh-price
    display block
    font-size 22pt
    font-weight bold
  
  &__sh-text
    display block
    font-size 10.5pt
    font-weight bold
    text-transform uppercase
  
  &__sh-button
    display block
    position absolute
    top 80%
    left 0
    width 100%
    transition( top 0.5s ease )
    
  //end shutter
  
  &__i:hover &__props
    bottom -50px
    opacity(0.5)
  
  &__i:hover &__shutter
    opacity(1)
  
  &__i:hover &__sh-title
    top 20%
  
  &__i:hover &__sh-price
    top 40%
  
  &__i:hover &__sh-button
    top 70%
  
  @media ( min-width: 801px )
    &.i-large-item
      float: none;
      display: block;
      width: 100%;
      max-height: 525px;
      overflow: hidden;
      
      .b-estate-list__i__title
        font-size: 36pt;
        bottom: 12%;
      
      .b-estate-list__i__props
        font-size: 13.5pt;
        line-height: 1.45;
        bottom: 12%;
      
      .b-estate-list__i__price
        font-size: 26pt;
        margin-top: 6px;
  
  &__i
    float: left;
    width: 33.3%;
    position: relative;
    background: url(/template/images/preloader-25.gif) no-repeat 55px 55px $dark-grey;
    overflow: hidden;
    z-index: 8;
    
    &:hover,
    &:active,
    &:focus
      color: #fff;
    
    &:nth-child( even )
      background-color: $darker-grey;
      background-image: url(/template/images/preloader-17.gif);
  
  &.i-empty
    padding-top: 33.3%;
    
    @media ( max-width: 800px)
      padding-top: 100%;
    
    @media ( max-width: 1300px ) and ( min-width: 801px )
      padding-top: 50%;
