// start /components/catalog.list.line/

link( rel="stylesheet", href="/components/catalog.list.line/style.css" )

.b-catalog-list-line

    .b-cll__cont
    
      include ../catalog.list/item.jade
      
      include ../catalog.list/item.jade
      
      include ../catalog.list/item.jade
    
// end /components/catalog.list.line/