extends ../../layouts/main.jade

block content

  include ../../modules/select/include.jade

  .b-container
    h2 Buttons 
    
    include ../../modules/button/disabled/further
    include ../../modules/button/basket
    include ../../modules/button/buy-card
    include ../../modules/button/buy-link
    include ../../modules/button/buy-simple-hidden
    include ../../modules/button/buy-simple-link 
    include ../../modules/button/buy-simple
    include ../../modules/button/buy
    include ../../modules/button/demo
    include ../../modules/button/enter
    include ../../modules/button/include
    include ../../modules/button/load
    include ../../modules/button/new-win
    include ../../modules/button/other
    include ../../modules/button/pay
    include ../../modules/button/popup
    include ../../modules/button/question
    include ../../modules/button/save
    include ../../modules/button/subscribe
  
  .container
    .b-text-image
    
      .row
        .col-sm-6.b-text-image__image
          img( src="/upload/gallery/2.jpg" )
        .col-sm-6.b-text-image__text
          h6
            b Максимально простое управление сайтом
          p Одно из ключевых преимуществ Битрикс это понятный интерфейс работы с административной частью и интуитивно понятное редактирование элементов прямо на страницах сайта.
          
      .row
        .col-sm-6.col-sm-push-6.b-text-image__image
          img( src="/upload/gallery/2.jpg" )
        .col-sm-6.col-sm-pull-6.b-text-image__text
          h6
            b Максимально простое управление сайтом
          p Одно из ключевых преимуществ Битрикс это понятный интерфейс работы с административной частью и интуитивно понятное редактирование элементов прямо на страницах сайта.