.ui-selectmenu-button span.ui-selectmenu-text
  padding 11px 32px 11px 15px
  
.ui-selectmenu-button
  outline none
  
  &,
  &.ui-state-hover
    background transparent
    color $brand-color
  
.ui-selectmenu-button .ui-icon
  background embedurl( 'img/select-down.gif' ) no-repeat center center
  
.ui-selectmenu-button.ui-corner-top .ui-icon
  background embedurl( 'img/select-up.gif' ) no-repeat center center
  
.ui-widget-content
  background-color $darker-grey
  border none
  
  .ui-menu-item
    color #fff
    height 33px
    line-height 33px
    
    &.ui-state-focus
      background transparent
      color $brand-color
      border-color transparent
      
.ui-selectmenu-menu
  padding-top 10px
  z-index 1001
  
.ui-menu .ui-menu-item
  padding 0 15px