$darker-grey = #1e1e1e
$dark-grey = #262626
$middle-grey = #333
$grey = #666
$light-grey = #999
$lightest-grey = #ccc

$bg-color = $middle-grey
$text-color = $lightest-grey
//$brand-color = #a6d713
$brand-color = #98c810
$brand-color-active = #87af15

$warning-color = #f23a3a
$warning-bg = #431717

$button-scheme-2 = #2b6fdf
$button-scheme-2-hover = #265db8

$button-scheme-3 = #308ee5
$button-scheme-3-hover = #1ca6ee
$button-scheme-3-active = #187ab8

$button-scheme-4 = #679f47

$grid-gap = 25px

//media
$media-width1 = 768px
$content-width1 = 770px

$media-width2 = 992px
$content-width2 = 990px

$media-width3 = 1200px
$content-width3 = 1190px