extends ../layouts/main.jade

block content

  include ../modules/select/include.jade
  
  .container
    .b-text-image
    
      .row
        .col-sm-6.b-text-image__image
          img( src="/upload/gallery/2.jpg" )
        .col-sm-6.b-text-image__text
          h6
            b Максимально простое управление сайтом
          p Одно из ключевых преимуществ Битрикс это понятный интерфейс работы с административной частью и интуитивно понятное редактирование элементов прямо на страницах сайта.
          
      .row
        .col-sm-6.col-sm-push-6.b-text-image__image
          img( src="/upload/gallery/2.jpg" )
        .col-sm-6.col-sm-pull-6.b-text-image__text
          h6
            b Максимально простое управление сайтом
          p Одно из ключевых преимуществ Битрикс это понятный интерфейс работы с административной частью и интуитивно понятное редактирование элементов прямо на страницах сайта.