extends ../../../layouts/form.jade

block title
  | Confirmation | Bejet

block content
  .b-container
    
    hr.i-size-L
    
    include ../../../components/catalog.basket.confirmation/template
    
    hr.i-size-L
