.b-cards

  .row
    
    .col-sm-4
      .b-card.i-sale
        .b-card-block
          h3.b-card-title Решение
          .b-price 14 990
            | 
            sup руб
          .b-old-price
            s 14 990
              | 
              sup руб
        .b-card-block FoodHouse: Интернет-магазин доставки
        .b-card-block Dapibus ac facilisis in
        .b-card-block Vestibulum at eros
        .b-card-block
          include ../button/buy-card
    
    .col-sm-4
      .b-card
        .b-card-block
          h3.b-card-title Решение и 1С-Битрикс
          .b-price 50 890
            | 
            sup руб
        .b-card-block FoodHouse: Интернет-магазин доставки
        .b-card-block Лицензия «1С-Битрикс:<br>Управление сайтом — Малый бизнес»
        .b-card-block Бесплатная установка
        .b-card-block
          include ../button/buy-card
    
    .col-sm-4
      .b-card
        .b-card-block
          h3.b-card-title Решение и 1С-Битрикс
          .b-price 52 340
            | 
            sup руб
        .b-card-block FoodHouse: Интернет-магазин доставки
        .b-card-block Лицензия «1С-Битрикс:<br>Управление сайтом — Малый бизнес»
        .b-card-block Хостинг на 1 месяц — 5 Гб
        .b-card-block Домен .RU
        .b-card-block Бесплатная установка
        .b-card-block
          include ../button/buy-card