.b-cards

  .row
    
    .col-sm-4
      .b-card
        .b-card-block
          h3.b-card-title Уже куплет 1С-Битрикс?
          .b-price 2 000
            | 
            sup руб
        .b-card-block Travellers &mdash; готовый сайт туристической компании
        .b-card-block
          include ../button/buy-card
          
    hr.visible-xs-block
    
    .col-sm-4
      .b-card
        .b-card-block
          h3.b-card-title У меня свой хостинг
          .b-price 7 400
            | 
            sup руб
        .b-card-block Travellers &mdash; готовый сайт туристической компании
        .b-card-block Лицензия «1С-Битрикс:<br>Управление сайтом — Старт»
        .b-card-block
          include ../button/buy-card
          
    hr.visible-xs-block
    
    .col-sm-4
      .b-card
        .b-card-block
          h3.b-card-title Полный комплект
          .b-price 17 250
            | 
            sup руб
        .b-card-block Travellers &mdash; готовый сайт туристической компании
        .b-card-block Лицензия «1С-Битрикс:<br>Управление сайтом — Старт»
        .b-card-block Хостинг на 1 месяц — 5 Гб
        .b-card-block Продление обновлений и поддержки Seller
        .b-card-block Бесплатная установка
        .b-card-block
          include ../button/buy-card
          