// start /components/testimonials/

link( rel="stylesheet", href="/components/testimonials/style.css" )
script( src="/components/testimonials/script.js" )

.b-testimonials
  h2 Отзывы наших клиентов
  
  hr.i-size-L
  hr.i-size-M
  
  .row
    .col-sm-4
      .b-testimonials__image
        img( src="/upload/testimonials/1.jpg" alt="" )
      .b-testimonials__user
        img( src="/upload/testimonials/user1.png" alt="" )
      h3 Котов Сергей — Librotech.ru
      p Спасибо команде Bejet.ru за установку и настройку русской и английской версий нашего сайте. Хорошее решение, качественный сервис, все сделали быстро.
      p.b-testimonials__note Отзыв о решении:<br> 
        a( href="" ) Корпоративный сайт современной компании
        
    hr.i-size-L.visible-xs-block
        
    .col-sm-4
      .b-testimonials__image
        img( src="/upload/testimonials/2.jpg" alt="" )
      .b-testimonials__user
        img( src="/upload/testimonials/user2.jpg" alt="" )
      h3 Алексей Клементьев — Grida.su
      p Спасибо команде Bejet.ru за установку и настройку русской и английской версий нашего сайте. Хорошее решение, качественный сервис, все сделали быстро.
        
    hr.i-size-L.visible-xs-block
        
    .col-sm-4
      .b-testimonials__image
        img( src="/upload/testimonials/3.jpg" alt="" )
      .b-testimonials__user
        img( src="/upload/testimonials/user3.png" alt="" )
      h3 Евгения Родионова
      p Спасибо команде Bejet.ru за установку и настройку русской и английской версий нашего сайте. Хорошее решение, качественный сервис, все сделали быстро.
      p.b-testimonials__note Отзыв о решении:<br> 
        a( href="" ) Корпоративный сайт современной компании

// end /components/testimonials/