.b-container
  h2.text-center.i-white Создайте великолепный сайт собственного турагентства
  hr.i-size-L

.b-travellers-promo-intro.i-dark-bg
  .b-container
    .row
      .col-sm-6
        img.img-responsive( src="/template/images/advantages-ill.png" alt="" )
      hr.visible-xs-block
      .col-sm-4.col-sm-offset-1
        hr.i-size-L
        .row
          .col-xs-4
            img( src="#.svg" width="64" height="64" alt="" )
          .col-xs-8
            h3.b-h2.i-white Дизайн
            p Лаконичный дизайн основанный на фотографиях — впечатлениях, которые получит путешественник.
            
        hr.i-size-L
            
        .row
          .col-xs-4.col-xs-push-8
            img( src="#.svg" width="64" height="64" alt="" )
          .col-xs-8.col-xs-pull-4
            h3.b-h2.i-white Адаптивная верстка
            p Используйте весь потенциал сайта — сделайте свой сайт удобным для мобильных и планшетов. 
            
        hr.i-size-L
      
        .row
          .col-xs-4
            img( src="#.svg" width="64" height="64" alt="" )
          .col-xs-8
            h3.b-h2.i-white Старт за 2 дня
            p 2 дня до момента, когда вы сможете вносить свои туры и страны.
   
.b-container

  hr

  h2.text-center.i-white Используйте<br>новые технологии туризма
  hr.i-size-L
  .row
    .col-sm-3.text-center
      img.center-block( src="#.svg" width="64" height="64" alt="" )
      h3.b-h2.i-white SEO
      p Решение полностью подготовлено для работы над SEO.
      
    hr.i-size-L.visible-xs-block
    
    .col-sm-3.text-center
      img.center-block( src="#.svg" width="64" height="64" alt="" )
      h3.b-h2.i-white Формы поиска
      p Использовать любой из туристических сервисов для поиска туров, авиабилетов или отелей.
      
    hr.i-size-L.visible-xs-block
      
    .col-sm-3.text-center
      img.center-block( src="#.svg" width="64" height="64" alt="" )
      h3.b-h2.i-white Заявки
      p Добавляйте собственные туры и получайте заявки на них.
      
    hr.i-size-L.visible-xs-block
      
    .col-sm-3.text-center
      img.center-block( src="#.svg" width="64" height="64" alt="" )
      h3.b-h2.i-white 1С-Битрикс
      p Самая популярная система для управления сайтом. Более 7 тыс. подрядчиков для доработки и поддержки.
      
  hr

  h2.text-center.i-white Выбирайте любой удобный вам<br>сервис для поиска туров
  hr.i-size-L
  img.center-block.img-responsive( src="/upload/travellers-promo/form.png" )
  hr.i-size-L
  p.text-center Решение не привязывает к конкретному сервису по поиску туров,<br>выберите подходящий для вас сервис и легко включите его<br>на собственном сайте.

  p.text-center По умолчанию в сервисе доступны:

  hr.i-size-L

  .row
    
    .col-sm-2.col-sm-offset-3
      img.center-block.img-responsive( src="/upload/travellers-promo/1.png" alt="" )
    hr.i-size-L.visible-xs-block
    .col-sm-2
      img.center-block.img-responsive( src="/upload/travellers-promo/2.png" alt="" )
    hr.i-size-L.visible-xs-block
    .col-sm-2
      img.center-block.img-responsive( src="/upload/travellers-promo/3.png" alt="" )

  hr.i-size-XL.i-line
      
  .i-xlarge-text.text-center.i-thin-text.i-gray Будьте свободны в выборе и экономьте бюджет.<br>Работайте с собственным  современным <br>и технически совершенным сайтом!

  .col-sm-8.col-sm-offset-2( style="float: none;" )
    hr.i-size-XL.i-line

  h2.text-center.i-white Дешевле найти трудно!

  hr.i-size-L
  hr

  include ../../modules/cards/travellers-promo

  hr.i-size-XL.i-line

  .text-center
    h2 У вас остались вопросы?
    p Вы можете задать любой интересующий вопрос написав нам<br>на <a href="mailto:ask@bejet.ru">ask@bejet.ru</a> или позвонив по телефону
    p.i-xlarge-text.i-white
      b +7 499 35 007 98
    p.i-small-text С 10:00 до 18:00 (московское время)
    include ../../modules/button/question