@import '../../styl/component-include.styl'

.b-ce
  
  &__banner
    background-color $dark-grey
    padding 28px 0
    
    @media ( max-width: $media-width1 )
      text-align center
    
    &__text
      
      h3
        margin 0
        color #fff
        font-size 10.5pt
        font-weight bold
        line-height 50px
          
        span
          display inline-block
          vertical-align middle
          line-height 1.4
      
    
    &__button
      text-align right
    
      @media ( max-width: $media-width1 )
        text-align center
      
      .b-button
        background-color $brand-color
        
.b-table
  width 100%
  
  th,
  td
    height 60px
    font-size 10.5pt
    color $lightest-grey
    border-bottom 1px solid $dark-grey
    vertical-align middle
    text-align center
    line-height 18px
    padding 0 14px
    
  th
    text-align left
    font-weight normal
    
  td
    width 30%
    
  b
    color #fff
    
  i
    width 12px
    height 12px
    display inline-block
    background embedurl( 'img/i.png' ) no-repeat 0 0
  
  thead
    th
      background $dark-grey
      color $lightest-grey
      font-size 8pt
      text-align center
      border-top 0
  
.fotorama
  @media (max-width: 720px)
    margin-right -20px
    margin-left -20px