section.b-top-banner
  .b-top-banner__heading
    .b-container
      | Запустить собственый веб-сайт
      br
      a(href="") быстро
      |  и 
      a(href="") недорого
      .b-top-banner__pointer
    
  .b-top-banner__body
    .b-container
      nav.b-top-banner__nav.b-row
        span.b-top-banner__i.i-1.b-col-sm-4
          span.b-top-banner__icon
          span.b-top-banner__text Выберите решение
        span.b-top-banner__i.i-2.b-col-sm-4
          span.b-top-banner__icon
          span.b-top-banner__text Сделайте заказ
        span.b-top-banner__i.i-3.b-col-sm-4
          span.b-top-banner__icon
          span.b-top-banner__text Приступайте к работе
      
      include ../../modules/button/include.jade