section.b-top-banner
  .b-top-banner__image(
    style="background-image: url('/upload/solution.jpg')"
  )
    .b-container
      h1 Seller — интернет-магазин модной одежды
      include ../../modules/button/question.jade
      include ../../modules/button/buy-simple-hidden.jade
      include ../../modules/button/demo.jade
      include ../../modules/popup/include.jade