<a href="/solution/" data-img="/upload/list/3.jpg" class="b-list__i"><img src="/upload/list/3.jpg" class="b-list__img"/>
  <!--span.b-list__props
  span.b-list__title
    block title
      |Сайт
    
  span.b-list__name
    block name
      |Сервисная компания
    
  span.b-list__price
    block price
      |14 000 руб.
  
  --><span class="b-list__shutter"><span class="b-list__sh-title">Маркет - адаптивный интернет-магазин</span><span class="b-list__sh-price"><span class="b-list__sh-num">19 900 руб.</span></span><span class="b-list__sh-button"><span class="b-button">Подробнее</span></span></span></a>