extends ../layouts/main.jade

block content

  input#input( type="checkbox" style="display: none;" )
  label( for="input" ) Label
  
  .b-checkbox-anim
    input#checkbox8( type="checkbox" name="type3[]" value="1" )
    label( for="checkbox8" )
      img( src="/template/images/bg.gif" )
      br
      | Продавать услуги