@import '../../styl/component-include.styl'

.i-float

  .b-label
    transform( translateY( 40px ))
    cursor text
    transition( all 0.3s ease )
    
  &.i-focus
    
    .b-label
      transform( translateY( -5px ))