select.b-select
  option( value="val1" ) Малый бизнес
  option( value="val2" ) Интернет-магазин
  option( value="val3" ) Решения для государственных организаций
  option( value="val4" ) Сайт конференции