// start /components/blog/

link( rel="stylesheet", href="/components/blog/style.css" )
script( src="/components/blog/script.js" )

.row

  .col-xs-6
    h1 Блог Bejet
    
  .col-xs-6.text-right.b-h1-link
    a.i-small-text( href="" ) Подписаться на рассылку
    
hr

.row

  .col-sm-4
    
    .b-blog-list-item
      a.b-blog-list-item__img( href="" )
        img( src="/upload/blog/1.jpg" alt="" )
        
      h3
        a( href="" ) Travelers 1.1.0
        
      p Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.
      
      .i-small-text.text-muted 30 Июня 2017
      
  hr.i-size-L.visible-xs
    
  .col-sm-4
    
    .b-blog-list-item
      a.b-blog-list-item__img( href="" )
        img( src="/upload/blog/2.jpg" alt="" )
        
      h3
        a( href="" ) Аспро: Оптимус 1.0.8 новинки Аспро: Оптимус 1.0.8 новинки
        
      p Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.
      
      .i-small-text.text-muted 30 Июня 2017
      
  hr.i-size-L.visible-xs
      
  .col-sm-4
    
    .b-blog-list-item
      a.b-blog-list-item__img( href="" )
        img( src="/upload/blog/1.jpg" alt="" )
        
      h3
        a( href="" ) Сколько стоит готовый интернет-магазин
        
      p Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.
      
      .i-small-text.text-muted 30 сентября 2017
      
hr.i-size-L

.row

  .col-sm-4
    
    .b-blog-list-item
      a.b-blog-list-item__img( href="" )
        img( src="/upload/blog/1.jpg" alt="" )
        
      h3
        a( href="" ) Travelers 1.1.0
        
      p Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.
      
      .i-small-text.text-muted 30 Июня 2017
      
  hr.i-size-L.visible-xs
    
  .col-sm-4
    
    .b-blog-list-item
      a.b-blog-list-item__img( href="" )
        img( src="/upload/blog/2.jpg" alt="" )
        
      h3
        a( href="" ) Аспро: Оптимус 1.0.8 новинки Аспро: Оптимус 1.0.8 новинки
        
      p Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.
      
      .i-small-text.text-muted 30 Июня 2017
      
  hr.i-size-L.visible-xs
      
  .col-sm-4
    
    .b-blog-list-item
      a.b-blog-list-item__img( href="" )
        img( src="/upload/blog/1.jpg" alt="" )
        
      h3
        a( href="" ) Сколько стоит готовый интернет-магазин
        
      p Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.
      
      .i-small-text.text-muted 30 сентября 2017

// end /components/blog/