.b-pagination
  
  a.b-pagination__prev( href="" ) Предыдущая страница
  
  span.b-pagination__pages
    a( href="" ) 1
    a( href="" ) 2
    a( href="" ) 3
    a( href="" ) 4
    span 5
    a( href="" ) 6
    a( href="" ) 7
    a( href="" ) 8
    
  a.b-pagination__next( href="" ) Следующая страница

