@import '../../styl/component-include.styl'

.b-pagination
  display flex
  justify-content space-between
  font-size 9pt
  
  &__pages
    
    a,
    span
      display inline-block
      margin 0 3px