// start /components/gallery/

link( rel="stylesheet", href="/components/gallery/style.css" )
script( src="/components/gallery/script.js" )

.b-gallery
  img( src="/upload/gallery/1.jpg" )
  img( src="/upload/gallery/1.jpg" )
  img( src="/upload/gallery/1.jpg" )
  img( src="/upload/gallery/1.jpg" )
  img( src="/upload/gallery/1.jpg" )

// end /components/gallery/