
<!-- start /components/testimonials/-->
<link rel="stylesheet" href="/components/testimonials/style.css"/>
<script src="/components/testimonials/script.js"></script>
<div class="b-testimonials">
  <h2>Отзывы наших клиентов</h2>
  <hr class="i-size-L"/>
  <hr class="i-size-M"/>
  <div class="row">
    <div class="col-sm-4">
      <div class="b-testimonials__image"><img src="/upload/testimonials/1.jpg" alt=""/></div>
      <div class="b-testimonials__user"><img src="/upload/testimonials/user1.png" alt=""/></div>
      <h3>Котов Сергей — Librotech.ru</h3>
      <p>Спасибо команде Bejet.ru за установку и настройку русской и английской версий нашего сайте. Хорошее решение, качественный сервис, все сделали быстро.</p>
      <p class="b-testimonials__note">Отзыв о решении:<br> <a href="">Корпоративный сайт современной компании</a></p>
    </div>
    <hr class="i-size-L visible-xs-block"/>
    <div class="col-sm-4">
      <div class="b-testimonials__image"><img src="/upload/testimonials/2.jpg" alt=""/></div>
      <div class="b-testimonials__user"><img src="/upload/testimonials/user2.jpg" alt=""/></div>
      <h3>Алексей Клементьев — Grida.su</h3>
      <p>Спасибо команде Bejet.ru за установку и настройку русской и английской версий нашего сайте. Хорошее решение, качественный сервис, все сделали быстро.</p>
    </div>
    <hr class="i-size-L visible-xs-block"/>
    <div class="col-sm-4">
      <div class="b-testimonials__image"><img src="/upload/testimonials/3.jpg" alt=""/></div>
      <div class="b-testimonials__user"><img src="/upload/testimonials/user3.png" alt=""/></div>
      <h3>Евгения Родионова</h3>
      <p>Спасибо команде Bejet.ru за установку и настройку русской и английской версий нашего сайте. Хорошее решение, качественный сервис, все сделали быстро.</p>
      <p class="b-testimonials__note">Отзыв о решении:<br> <a href="">Корпоративный сайт современной компании</a></p>
    </div>
  </div>
</div>
<!-- end /components/testimonials/-->