
<h2 class="text-center">Выбор решения</h2>
<p class="text-center">Ответьте на все вопросы помощника и о пдскажет, какие решения подходят для вас.</p>
<hr class="i-size-M"/>
<div class="b-helper-fieldset">
  <div class="row">
    <div class="col-sm-6">
      <h3>Для чего вам нужен сайт?</h3>
      <p>Версия разделов оформления заказа</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="b-radio-anim">
        <input id="radio1" type="radio" name="type1" value="0" checked="checked"/>
        <label for="radio1">Разместить информацию о компании</label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="b-radio-anim">
        <input id="radio2" type="radio" name="type1" value="1"/>
        <label for="radio2">Продавать услуги</label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="b-radio-anim">
        <input id="radio3" type="radio" name="type1" value="2"/>
        <label for="radio3">Продавать товары</label>
      </div>
    </div>
  </div>
</div>