
<h2 class="text-center">Модули</h2>
<p class="text-center">Ответьте на все вопросы помощника и о пдскажет, какие решения подходят для вас.</p>
<hr class="i-size-M"/>
<div class="b-helper-fieldset">
  <div class="row">
    <div class="col-sm-6">
      <h3>Версия разделов оформления заказа, версия разделов оформления заказа</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="b-checkbox-anim">
        <input id="checkbox4" type="checkbox" name="type4[]" value="3"/>
        <label for="checkbox4">Продавать товары</label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="b-checkbox-anim">
        <input id="checkbox5" type="checkbox" name="type4[]" value="4"/>
        <label for="checkbox5">Разместить информацию о компании</label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="b-checkbox-anim">
        <input id="checkbox6" type="checkbox" name="type4[]" value="5"/>
        <label for="checkbox6">Продавать услуги</label>
      </div>
    </div>
  </div>
</div>