
<!-- start /components/helper/-->
<link rel="stylesheet" href="/components/helper/style.css"/>
<script src="/components/helper/script.js"></script>
<h1>Подбор готового веб-сайта</h1>
<hr class="i-size-L"/>
<div class="b-helper">
  <div class="b-helper-tabs">
    <nav><a href="">Выбор решения</a><a href="">Выбор тематики</a><a href="">Цветовая схема</a><a href="">Модули</a></nav>
  </div>
  <div class="b-helper-body">
    <h2>Тематика веб-сайта</h2>
    <p>Ответьте на все вопросы помощника и о пдскажет, какие решения подходят для вас.</p>
    <div class="b-helper-fieldset">
      <div class="row">
        <div class="col-sm-6">
          <h3>Для чего вам нужен сайт?</h3>
          <p>Версия разделов оформления заказа</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="b-radio-anim">
            <input id="radio1" type="radio" name="type1" value="0" checked="checked"/>
            <label for="radio1">Разместить информацию о компании</label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="b-radio-anim">
            <input id="radio2" type="radio" name="type1" value="1"/>
            <label for="radio2">Продавать услуги</label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="b-radio-anim">
            <input id="radio3" type="radio" name="type1" value="2"/>
            <label for="radio3">Продавать товары</label>
          </div>
        </div>
      </div>
    </div>
    <div class="b-helper-fieldset">
      <div class="row">
        <div class="col-sm-6">
          <h3>Версия разделов оформления заказа, версия разделов оформления заказа</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <input type="checkbox" name="type2[]" value="0"/>
          <p>Резместить информацию о компании</p>
        </div>
        <div class="col-sm-4">
          <input type="checkbox" name="type2[]" value="1"/>
          <p>Продавать услуги</p>
        </div>
        <div class="col-sm-4">
          <input type="checkbox" name="type2[]" value="2"/>
          <p>Продавать товары</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <input type="checkbox" name="type2[]" value="3"/>
          <p>Резместить информацию о компании</p>
        </div>
        <div class="col-sm-4">
          <input type="checkbox" name="type2[]" value="4"/>
          <p>Продавать услуги</p>
        </div>
        <div class="col-sm-4">
          <input type="checkbox" name="type2[]" value="5"/>
          <p>Продавать товары</p>
        </div>
      </div>
    </div>
    <div class="b-helper-fieldset">
      <div class="row">
        <div class="col-sm-6">
          <h3>Версия разделов оформления заказа, версия разделов оформления заказа</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <input type="checkbox" name="type2[]" value="0"/><img src=""/>
          <p>Резместить информацию о компании</p>
        </div>
        <div class="col-sm-4">
          <input type="checkbox" name="type2[]" value="1"/><img src=""/>
          <p>Продавать услуги</p>
        </div>
        <div class="col-sm-4">
          <input type="checkbox" name="type2[]" value="2"/><img src=""/>
          <p>Продавать товары</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end /components/helper/-->