
<h2 class="text-center">Тематика веб-сайта</h2>
<p class="text-center">Ответьте на все вопросы помощника и о пдскажет, какие решения подходят для вас.</p>
<hr class="i-size-M"/>
<div class="b-helper-fieldset">
  <div class="row">
    <div class="col-sm-6">
      <h3>Версия разделов оформления заказа, версия разделов оформления заказа</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="b-checkbox-anim">
        <input id="checkbox7" type="checkbox" name="type3[]" value="0" checked="checked"/>
        <label for="checkbox7"><img src="/template/images/bg.gif"/><br/>Продавать услуги</label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="b-checkbox-anim">
        <input id="checkbox8" type="checkbox" name="type3[]" value="1"/>
        <label for="checkbox8"><img src="/template/images/bg.gif"/><br/>Продавать услуги</label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="b-checkbox-anim">
        <input id="checkbox9" type="checkbox" name="type3[]" value="2"/>
        <label for="checkbox9"><img src="/template/images/bg.gif"/><br/>Разместить информацию о компании</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="b-radio-anim">
        <input id="radio4" type="radio" name="type5" value="0" checked="checked"/>
        <label for="radio4"><img src="/template/images/bg.gif"/><br/>Продавать услуги</label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="b-radio-anim">
        <input id="radio5" type="radio" name="type5" value="1"/>
        <label for="radio5"><img src="/template/images/bg.gif"/><br/>Продавать услуги</label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="b-radio-anim">
        <input id="radio6" type="radio" name="type5" value="2"/>
        <label for="radio6"><img src="/template/images/bg.gif"/><br/>Разместить информацию о компании</label>
      </div>
    </div>
  </div>
</div>