
<!-- start /components/catalog.group.gallery/-->
<link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"/>
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
<section class="b-catalog-group-gallery b-contrast b-content">
  <div class="b-container">
    <div id="gallery">
      <div data-width="100%" data-loop="true" data-keyboard="true" data-ratio="1089/624" class="fotorama">
        <div>
          <div class="b-h1 i-center">Готовый интернет-магазин</div><a href="/solution/"><img src="/upload/gallery/1.jpg"/></a>
          <div class="b-catalog-group-gallery__text b-h1 i-center">Одежда</div>
        </div>
        <div>
          <div class="b-h1 i-center">Готовый интернет-магазин</div><a href="/solution/"><img src="/upload/gallery/1.jpg"/></a>
          <div class="b-catalog-group-gallery__text b-h1 i-center">Одежда</div>
        </div>
        <div>
          <div class="b-h1 i-center">Готовый интернет-магазин</div><a href="/solution/"><img src="/upload/gallery/1.jpg"/></a>
          <div class="b-catalog-group-gallery__text b-h1 i-center">Одежда</div>
        </div>
        <div>
          <div class="b-h1 i-center">Готовый интернет-магазин</div><a href="/solution/"><img src="/upload/gallery/1.jpg"/></a>
          <div class="b-catalog-group-gallery__text b-h1 i-center">Одежда</div>
        </div>
        <div>
          <div class="b-h1 i-center">Готовый интернет-магазин</div><a href="/solution/"><img src="/upload/gallery/1.jpg"/></a>
          <div class="b-catalog-group-gallery__text b-h1 i-center">Одежда</div>
        </div>
        <div>
          <div class="b-h1 i-center">Готовый интернет-магазин</div><a href="/solution/"><img src="/upload/gallery/1.jpg"/></a>
          <div class="b-catalog-group-gallery__text b-h1 i-center">Одежда</div>
        </div>
        <div>
          <div class="b-h1 i-center">Готовый интернет-магазин</div><a href="/solution/"><img src="/upload/gallery/1.jpg"/></a>
          <div class="b-catalog-group-gallery__text b-h1 i-center">Одежда</div>
        </div>
        <div>
          <div class="b-h1 i-center">Готовый интернет-магазин</div><a href="/solution/"><img src="/upload/gallery/1.jpg"/></a>
          <div class="b-catalog-group-gallery__text b-h1 i-center">Одежда</div>
        </div>
        <div>
          <div class="b-h1 i-center">Готовый интернет-магазин</div><a href="/solution/"><img src="/upload/gallery/1.jpg"/></a>
          <div class="b-catalog-group-gallery__text b-h1 i-center">Одежда</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end /components/catalog.group.gallery/-->