
<!-- start /components/faq/-->
<link rel="stylesheet" href="/components/faq/style.css"/>
<script src="/components/faq/script.js"></script>
<div class="b-faq i-bitrix">
  <div class="b-faq-block">
    <div class="b-faq-item i-sale">
      <div class="b-faq-question"><a href="#panel-1" data-toggle="collapse" class="collapsed">1С-Битрикс: Старт</a>
        <div class="b-faq-info">
          <div class="b-price i-old">5 590<sup>руб.</sup></div>
          <div class="b-price">4 590<sup>руб.</sup></div>
        </div><a href="/solution/" class="b-button i-scheme-2">Купить</a>
      </div>
      <div id="panel-1" data-toggle="collapse" class="b-faq-answer collapse">
        <div class="b-faq-answer__text">
          <div class="b-faq-answer__wrapper">
            <p>Тем же, чем отличается костюм купленный в магазине от костюма сшитого в ателье на заказ. При покупке в магазине вам предлагают готовый ассортимент, а не снимаю индивидуальные мерки.</p>
          </div>
        </div>
        <div class="b-faq-answer__close"><a href="#panel-1" data-toggle="collapse">Скрыть описание</a></div>
      </div>
    </div>
    <div class="b-faq-item">
      <div class="b-faq-question"><a href="#panel-2" data-toggle="collapse" class="collapsed">1С-Битрикс: Малый бизнес</a>
        <div class="b-faq-info">
          <div class="b-price">4 590<sup>руб.</sup></div>
        </div><a href="/solution/" class="b-button i-scheme-2">Купить</a>
      </div>
      <div id="panel-2" data-toggle="collapse" class="b-faq-answer collapse">
        <div class="b-faq-answer__text">
          <div class="b-faq-answer__wrapper">
            <p>Тем же, чем отличается костюм купленный в магазине от костюма сшитого в ателье на заказ. При покупке в магазине вам предлагают готовый ассортимент, а не снимаю индивидуальные мерки.</p>
          </div>
        </div>
        <div class="b-faq-answer__close"><a href="#panel-2" data-toggle="collapse">Скрыть описание</a></div>
      </div>
    </div>
  </div>
  <hr class="i-size-L"/>
</div>
<!-- end /components/faq/-->