
<!-- start /components/faq/-->
<link rel="stylesheet" href="/components/faq/style.css"/>
<script src="/components/faq/script.js"></script>
<h1>Ответы на часто задаваемые вопросы</h1>
<hr class="i-size-L"/>
<div class="b-faq">
  <h2>Общие вопросы</h2>
  <p>Вопросы на которые нам приходится отвечать чаще всего.</p>
  <hr class="i-size-L"/>
  <div class="b-faq-block">
    <div class="b-faq-item">
      <div class="b-faq-question"><a href="#panel-1" data-toggle="collapse" class="collapsed">Чем отличается готовый сайт от разработки сайта?</a></div>
      <div id="panel-1" data-toggle="collapse" class="b-faq-answer collapse">
        <div class="b-faq-answer__text">
          <div class="b-faq-answer__wrapper">
            <p>Тем же, чем отличается костюм <a href="">купленный</a> в магазине от костюма сшитого в ателье на заказ. При покупке в магазине вам предлагают готовый ассортимент, а не снимаю индивидуальные мерки.</p>
          </div>
        </div>
        <div class="b-faq-answer__close"><a href="#panel-1" data-toggle="collapse">Скрыть ответ</a></div>
      </div>
    </div>
    <div class="b-faq-item">
      <div class="b-faq-question"><a href="#panel-2" data-toggle="collapse" class="collapsed">Вы продаете тоже самое, что и Маркетплейс
          <nobr>1С-Битрикс</nobr>?</a></div>
      <div id="panel-2" data-toggle="collapse" class="b-faq-answer collapse">
        <div class="b-faq-answer__text">
          <div class="b-faq-answer__wrapper">
            <p>Тем же, чем отличается костюм купленный в магазине от костюма сшитого в ателье на заказ. При покупке в магазине вам предлагают готовый ассортимент, а не снимаю индивидуальные мерки.</p>
          </div>
        </div>
        <div class="b-faq-answer__close"><a href="#panel-2" data-toggle="collapse">Скрыть ответ</a></div>
      </div>
    </div>
  </div>
  <hr class="i-size-L"/>
  <hr class="i-size-L"/>
  <h2>Каталог решений</h2>
  <p>Вопросы про решения представленные в нашем каталоге.</p>
  <hr class="i-size-L"/>
  <div class="b-faq-block">
    <div class="b-faq-item">
      <div class="b-faq-question"><a href="#panel-3" data-toggle="collapse" class="collapsed">Решения — это шаблоны для сайта?</a></div>
      <div id="panel-3" data-toggle="collapse" class="b-faq-answer collapse">
        <div class="b-faq-answer__text">
          <div class="b-faq-answer__wrapper">
            <p>Не только шаблон.</p>
            <p>Решение — это и готовый шаблон 
              <nobr>веб-сайта</nobr> и настроеные компоненты выполняющие различные функции инетрефейса: почтовые формы, вывод новостей, корзина 
              <nobr>интернет-магазина</nobr> и многое другое.
            </p>
            <p>Решение — это полностью готовый 
              <nobr>веб-сайт</nobr> с демонстрационными текстами и картинками.
            </p>
          </div>
        </div>
        <div class="b-faq-answer__close"><a href="#panel-3" data-toggle="collapse">Скрыть ответ</a></div>
      </div>
    </div>
  </div>
</div>
<!-- end /components/faq/-->