
<div class="b-container">
  <h2 class="text-center i-white">Создайте великолепный сайт собственного турагентства</h2>
  <hr class="i-size-L"/>
</div>
<div class="b-travellers-promo-intro i-dark-bg">
  <div class="b-container">
    <div class="row">
      <div class="col-sm-6"><img src="/template/images/advantages-ill.png" alt="" class="img-responsive"/></div>
      <hr class="visible-xs-block"/>
      <div class="col-sm-4 col-sm-offset-1">
        <hr class="i-size-L"/>
        <div class="row">
          <div class="col-xs-4"><img src="#.svg" width="64" height="64" alt=""/></div>
          <div class="col-xs-8">
            <h3 class="b-h2 i-white">Дизайн</h3>
            <p>Лаконичный дизайн основанный на фотографиях — впечатлениях, которые получит путешественник.</p>
          </div>
        </div>
        <hr class="i-size-L"/>
        <div class="row">
          <div class="col-xs-4 col-xs-push-8"><img src="#.svg" width="64" height="64" alt=""/></div>
          <div class="col-xs-8 col-xs-pull-4">
            <h3 class="b-h2 i-white">Адаптивная верстка</h3>
            <p>Используйте весь потенциал сайта — сделайте свой сайт удобным для мобильных и планшетов. </p>
          </div>
        </div>
        <hr class="i-size-L"/>
        <div class="row">
          <div class="col-xs-4"><img src="#.svg" width="64" height="64" alt=""/></div>
          <div class="col-xs-8">
            <h3 class="b-h2 i-white">Старт за 2 дня</h3>
            <p>2 дня до момента, когда вы сможете вносить свои туры и страны.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="b-container">
  <hr/>
  <h2 class="text-center i-white">Используйте<br>новые технологии туризма</h2>
  <hr class="i-size-L"/>
  <div class="row">
    <div class="col-sm-3 text-center"><img src="#.svg" width="64" height="64" alt="" class="center-block"/>
      <h3 class="b-h2 i-white">SEO</h3>
      <p>Решение полностью подготовлено для работы над SEO.</p>
    </div>
    <hr class="i-size-L visible-xs-block"/>
    <div class="col-sm-3 text-center"><img src="#.svg" width="64" height="64" alt="" class="center-block"/>
      <h3 class="b-h2 i-white">Формы поиска</h3>
      <p>Использовать любой из туристических сервисов для поиска туров, авиабилетов или отелей.</p>
    </div>
    <hr class="i-size-L visible-xs-block"/>
    <div class="col-sm-3 text-center"><img src="#.svg" width="64" height="64" alt="" class="center-block"/>
      <h3 class="b-h2 i-white">Заявки</h3>
      <p>Добавляйте собственные туры и получайте заявки на них.</p>
    </div>
    <hr class="i-size-L visible-xs-block"/>
    <div class="col-sm-3 text-center"><img src="#.svg" width="64" height="64" alt="" class="center-block"/>
      <h3 class="b-h2 i-white">1С-Битрикс</h3>
      <p>Самая популярная система для управления сайтом. Более 7 тыс. подрядчиков для доработки и поддержки.</p>
    </div>
  </div>
  <hr/>
  <h2 class="text-center i-white">Выбирайте любой удобный вам<br>сервис для поиска туров</h2>
  <hr class="i-size-L"/><img src="/upload/travellers-promo/form.png" class="center-block img-responsive"/>
  <hr class="i-size-L"/>
  <p class="text-center">Решение не привязывает к конкретному сервису по поиску туров,<br>выберите подходящий для вас сервис и легко включите его<br>на собственном сайте.</p>
  <p class="text-center">По умолчанию в сервисе доступны:</p>
  <hr class="i-size-L"/>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-3"><img src="/upload/travellers-promo/1.png" alt="" class="center-block img-responsive"/></div>
    <hr class="i-size-L visible-xs-block"/>
    <div class="col-sm-2"><img src="/upload/travellers-promo/2.png" alt="" class="center-block img-responsive"/></div>
    <hr class="i-size-L visible-xs-block"/>
    <div class="col-sm-2"><img src="/upload/travellers-promo/3.png" alt="" class="center-block img-responsive"/></div>
  </div>
  <hr class="i-size-XL i-line"/>
  <div class="i-xlarge-text text-center i-thin-text i-gray">Будьте свободны в выборе и экономьте бюджет.<br>Работайте с собственным  современным <br>и технически совершенным сайтом!</div>
  <div style="float: none;" class="col-sm-8 col-sm-offset-2">
    <hr class="i-size-XL i-line"/>
  </div>
  <h2 class="text-center i-white">Дешевле найти трудно!</h2>
  <hr class="i-size-L"/>
  <hr/>
  <div class="b-cards">
    <div class="row">
      <div class="col-sm-4">
        <div class="b-card">
          <div class="b-card-block">
            <h3 class="b-card-title">Уже куплет 1С-Битрикс?</h3>
            <div class="b-price">
              2 000
               <sup>руб</sup>
            </div>
          </div>
          <div class="b-card-block">Travellers &mdash; готовый сайт туристической компании</div>
          <div class="b-card-block"><a href="/solution/" class="b-button i-scheme-2">Купить</a>
          </div>
        </div>
      </div>
      <hr class="visible-xs-block"/>
      <div class="col-sm-4">
        <div class="b-card">
          <div class="b-card-block">
            <h3 class="b-card-title">У меня свой хостинг</h3>
            <div class="b-price">
              7 400
               <sup>руб</sup>
            </div>
          </div>
          <div class="b-card-block">Travellers &mdash; готовый сайт туристической компании</div>
          <div class="b-card-block">Лицензия «1С-Битрикс:<br>Управление сайтом — Старт»</div>
          <div class="b-card-block"><a href="/solution/" class="b-button i-scheme-2">Купить</a>
          </div>
        </div>
      </div>
      <hr class="visible-xs-block"/>
      <div class="col-sm-4">
        <div class="b-card">
          <div class="b-card-block">
            <h3 class="b-card-title">Полный комплект</h3>
            <div class="b-price">
              17 250
               <sup>руб</sup>
            </div>
          </div>
          <div class="b-card-block">Travellers &mdash; готовый сайт туристической компании</div>
          <div class="b-card-block">Лицензия «1С-Битрикс:<br>Управление сайтом — Старт»</div>
          <div class="b-card-block">Хостинг на 1 месяц — 5 Гб</div>
          <div class="b-card-block">Продление обновлений и поддержки Seller</div>
          <div class="b-card-block">Бесплатная установка</div>
          <div class="b-card-block"><a href="/solution/" class="b-button i-scheme-2">Купить</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="i-size-XL i-line"/>
  <div class="text-center">
    <h2>У вас остались вопросы?</h2>
    <p>Вы можете задать любой интересующий вопрос написав нам<br>на <a href="mailto:ask@bejet.ru">ask@bejet.ru</a> или позвонив по телефону</p>
    <p class="i-xlarge-text i-white"><b>+7 499 35 007 98</b></p>
    <p class="i-small-text">С 10:00 до 18:00 (московское время)</p><a href="" class="b-button i-scheme-4">Задать вопрос</a>
  </div>
</div>