
<!--begin catalog.element component-->
<link rel="stylesheet" href="/components/catalog.element/style.css"/>
<div class="b-catalog-element">
  <div class="b-tabs">
    <div class="b-container">
      <nav class="b-tabs__nav">
        <div class="b-tabs__decor"></div><a href="" data-tab="advantages" class="b-tabs__tab i-active">Преимущества</a><a href="" data-tab="review" class="b-tabs__tab">Обзор</a><a href="" data-tab="installation" class="b-tabs__tab">Установка</a><a href="" data-tab="packaging" class="b-tabs__tab">Комплектация</a><a href="" data-tab="price_table" class="b-tabs__tab">Цены</a>
      </nav>
      <hr class="i-size-L"/>
    </div>
    <div data-tab="advantages" class="b-tabs__i i-active">
      <div class="b-container">
        <h2 class="text-center i-white">Создайте великолепный сайт собственного турагентства</h2>
        <hr class="i-size-L"/>
      </div>
      <div class="b-travellers-promo-intro i-dark-bg">
        <div class="b-container">
          <div class="row">
            <div class="col-sm-6"><img src="/template/images/advantages-ill.png" alt="" class="img-responsive"/></div>
            <hr class="visible-xs-block"/>
            <div class="col-sm-4 col-sm-offset-1">
              <hr class="i-size-L"/>
              <div class="row">
                <div class="col-xs-4"><img src="#.svg" width="64" height="64" alt=""/></div>
                <div class="col-xs-8">
                  <h3 class="b-h2 i-white">Дизайн</h3>
                  <p>Лаконичный дизайн основанный на фотографиях — впечатлениях, которые получит путешественник.</p>
                </div>
              </div>
              <hr class="i-size-L"/>
              <div class="row">
                <div class="col-xs-4 col-xs-push-8"><img src="#.svg" width="64" height="64" alt=""/></div>
                <div class="col-xs-8 col-xs-pull-4">
                  <h3 class="b-h2 i-white">Адаптивная верстка</h3>
                  <p>Используйте весь потенциал сайта — сделайте свой сайт удобным для мобильных и планшетов. </p>
                </div>
              </div>
              <hr class="i-size-L"/>
              <div class="row">
                <div class="col-xs-4"><img src="#.svg" width="64" height="64" alt=""/></div>
                <div class="col-xs-8">
                  <h3 class="b-h2 i-white">Старт за 2 дня</h3>
                  <p>2 дня до момента, когда вы сможете вносить свои туры и страны.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="b-container">
        <hr/>
        <h2 class="text-center i-white">Используйте<br>новые технологии туризма</h2>
        <hr class="i-size-L"/>
        <div class="row">
          <div class="col-sm-3 text-center"><img src="#.svg" width="64" height="64" alt="" class="center-block"/>
            <h3 class="b-h2 i-white">SEO</h3>
            <p>Решение полностью подготовлено для работы над SEO.</p>
          </div>
          <hr class="i-size-L visible-xs-block"/>
          <div class="col-sm-3 text-center"><img src="#.svg" width="64" height="64" alt="" class="center-block"/>
            <h3 class="b-h2 i-white">Формы поиска</h3>
            <p>Использовать любой из туристических сервисов для поиска туров, авиабилетов или отелей.</p>
          </div>
          <hr class="i-size-L visible-xs-block"/>
          <div class="col-sm-3 text-center"><img src="#.svg" width="64" height="64" alt="" class="center-block"/>
            <h3 class="b-h2 i-white">Заявки</h3>
            <p>Добавляйте собственные туры и получайте заявки на них.</p>
          </div>
          <hr class="i-size-L visible-xs-block"/>
          <div class="col-sm-3 text-center"><img src="#.svg" width="64" height="64" alt="" class="center-block"/>
            <h3 class="b-h2 i-white">1С-Битрикс</h3>
            <p>Самая популярная система для управления сайтом. Более 7 тыс. подрядчиков для доработки и поддержки.</p>
          </div>
        </div>
        <hr/>
        <h2 class="text-center i-white">Выбирайте любой удобный вам<br>сервис для поиска туров</h2>
        <hr class="i-size-L"/><img src="/upload/travellers-promo/form.png" class="center-block img-responsive"/>
        <hr class="i-size-L"/>
        <p class="text-center">Решение не привязывает к конкретному сервису по поиску туров,<br>выберите подходящий для вас сервис и легко включите его<br>на собственном сайте.</p>
        <p class="text-center">По умолчанию в сервисе доступны:</p>
        <hr class="i-size-L"/>
        <div class="row">
          <div class="col-sm-2 col-sm-offset-3"><img src="/upload/travellers-promo/1.png" alt="" class="center-block img-responsive"/></div>
          <hr class="i-size-L visible-xs-block"/>
          <div class="col-sm-2"><img src="/upload/travellers-promo/2.png" alt="" class="center-block img-responsive"/></div>
          <hr class="i-size-L visible-xs-block"/>
          <div class="col-sm-2"><img src="/upload/travellers-promo/3.png" alt="" class="center-block img-responsive"/></div>
        </div>
        <hr class="i-size-XL i-line"/>
        <div class="i-xlarge-text text-center i-thin-text i-gray">Будьте свободны в выборе и экономьте бюджет.<br>Работайте с собственным  современным <br>и технически совершенным сайтом!</div>
        <div style="float: none;" class="col-sm-8 col-sm-offset-2">
          <hr class="i-size-XL i-line"/>
        </div>
        <h2 class="text-center i-white">Дешевле найти трудно!</h2>
        <hr class="i-size-L"/>
        <hr/>
        <div class="b-cards">
          <div class="row">
            <div class="col-sm-4">
              <div class="b-card">
                <div class="b-card-block">
                  <h3 class="b-card-title">Уже куплет 1С-Битрикс?</h3>
                  <div class="b-price">
                    2 000
                     <sup>руб</sup>
                  </div>
                </div>
                <div class="b-card-block">Travellers &mdash; готовый сайт туристической компании</div>
                <div class="b-card-block"><a href="/solution/" class="b-button i-scheme-2">Купить</a>
                </div>
              </div>
            </div>
            <hr class="visible-xs-block"/>
            <div class="col-sm-4">
              <div class="b-card">
                <div class="b-card-block">
                  <h3 class="b-card-title">У меня свой хостинг</h3>
                  <div class="b-price">
                    7 400
                     <sup>руб</sup>
                  </div>
                </div>
                <div class="b-card-block">Travellers &mdash; готовый сайт туристической компании</div>
                <div class="b-card-block">Лицензия «1С-Битрикс:<br>Управление сайтом — Старт»</div>
                <div class="b-card-block"><a href="/solution/" class="b-button i-scheme-2">Купить</a>
                </div>
              </div>
            </div>
            <hr class="visible-xs-block"/>
            <div class="col-sm-4">
              <div class="b-card">
                <div class="b-card-block">
                  <h3 class="b-card-title">Полный комплект</h3>
                  <div class="b-price">
                    17 250
                     <sup>руб</sup>
                  </div>
                </div>
                <div class="b-card-block">Travellers &mdash; готовый сайт туристической компании</div>
                <div class="b-card-block">Лицензия «1С-Битрикс:<br>Управление сайтом — Старт»</div>
                <div class="b-card-block">Хостинг на 1 месяц — 5 Гб</div>
                <div class="b-card-block">Продление обновлений и поддержки Seller</div>
                <div class="b-card-block">Бесплатная установка</div>
                <div class="b-card-block"><a href="/solution/" class="b-button i-scheme-2">Купить</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="i-size-XL i-line"/>
        <div class="text-center">
          <h2>У вас остались вопросы?</h2>
          <p>Вы можете задать любой интересующий вопрос написав нам<br>на <a href="mailto:ask@bejet.ru">ask@bejet.ru</a> или позвонив по телефону</p>
          <p class="i-xlarge-text i-white"><b>+7 499 35 007 98</b></p>
          <p class="i-small-text">С 10:00 до 18:00 (московское время)</p><a href="" class="b-button i-scheme-4">Задать вопрос</a>
        </div>
      </div>
    </div>
    <div class="b-container">
      <div data-tab="review" class="b-tabs__i">
        <!-- start /components/gallery/-->
        <link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"/>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
        <div data-width="100%" data-loop="true" data-keyboard="true" data-ratio="1089/624" class="fotorama"><img src="http://s.fotorama.io/1.jpg"/><img src="http://s.fotorama.io/2.jpg"/><img src="http://s.fotorama.io/1.jpg"/><img src="http://s.fotorama.io/2.jpg"/></div>
        <!-- end /components/gallery/-->
        <hr/>
        <p>Готовый интернет-магазин Seller — хорошее решение для быстрого запуска интернет-магазина модной одежды или аксессуаров. </p>
        <h2>Адаптивная верстка </h2>
        <p>Интернет-магазин одежды Seller создан с учетом мульти-платформенного использования. Это значит, что независимо от того, какое устройство используют ваши посетители: персональный компьютер, планшет или смартфон, ваш магазин будет отображать информацию максимально удобно и сохранит все функциональные возможности. </p>
        <h2>Маркетинговые возможности </h2>
        <p>Для эффективной работы с посетителями сайта вы сможете использовать самые разные инструменты: </p>
        <ul>
          <li>Баннеры;</li>
          <li>Рекомендации;</li>
          <li>Новинки;</li>
          <li>Хиты продаж;</li>
          <li>Акции;</li>
          <li>Подписки;</li>
          <li>Комментарии;</li>
          <li>Оценки. </li>
        </ul>
        <h2>Поиск по сайту </h2>
        <p>Seller предлагает несколько способов навигации по сайту, настроив которые, вы сможете показывать вашим клиентам максимально точные предложения. </p>
        <ul>
          <li>Морфологический поиск;</li>
          <li>Тэги;</li>
          <li>Каталог по типу продукции;</li>
          <li>Каталог по брендам;</li>
          <li>Фильтр по параметрам;</li>
          <li>Сортировка каталога. </li>
        </ul>
        <h2>Информация для покупателя </h2>
        <p>Корпоративные разделы помогут рассказать вашим покупателям главные принципы работы и условия покупки. А также обеспечат дополнительную информационную поддержку. </p>
        <ul>
          <li>О магазине;</li>
          <li>Новости;</li>
          <li>Контакты;</li>
          <li>Вакансии;</li>
          <li>Как купить;</li>
          <li>Оплата;</li>
          <li>Доставка;</li>
          <li>Гарантия. </li>
        </ul>
        <h2>Корпоративные разделы </h2>
        <ul>
          <li>О магазине;</li>
          <li>Вакансии;</li>
          <li>Статьи. </li>
        </ul>
      </div>
      <div data-tab="installation" class="b-tabs__i">
        <h2>Установка</h2>
        <p>Очень простая установка одной кнопкой.</p>
      </div>
      <div data-tab="packaging" class="b-tabs__i">
        <h2>Комплектация c редакциями 1С-Битрикс </h2>
        <table class="b-table">
          <thead>
            <tr>
              <th></th>
              <th>1С-Битрикс:<br>Малый Бизнес</th>
              <th>1С-Битрикс:<br>Бизнес</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th colspan="3"><b>Основные функции</b></th>
            </tr>
            <tr>
              <th>Каталог товаров</th>
              <td><i></i></td>
              <td><i> </i></td>
            </tr>
            <tr>
              <th>Торговые предложения</th>
              <td></td>
              <td><i></i></td>
            </tr>
            <tr>
              <th>Импорт каталога товаров из 1С, Excel или CSV</th>
              <td><i></i></td>
              <td><i></i></td>
            </tr>
            <tr>
              <th colspan="3"><b>Основные функции</b></th>
            </tr>
            <tr>
              <th>Каталог товаров</th>
              <td><i></i></td>
              <td><i> </i></td>
            </tr>
            <tr>
              <th>Торговые предложения</th>
              <td></td>
              <td><i></i></td>
            </tr>
            <tr>
              <th>Импорт каталога товаров из 1С, Excel или CSV</th>
              <td><i></i></td>
              <td><i></i></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div data-tab="price_table" class="b-tabs__i">
        <h2 class="w_m">Варианты покупки</h2>
        <div class="price_table">
          <div class="column">
            <div>
              <div class="cell">
                <p>Только Маркет</p>
              </div>
              <div class="cell">19 900 <sup>руб</sup></div>
              <div style="height: 308px;" class="cell">
                <ul>
                  <li>Маркет — адаптивный интернет-магазин</li>
                </ul>
              </div>
              <div class="cell"><a href="/personal/cart/add2backet.php?nabor=1&amp;order[]=59" class="b-button i-scheme-2">Купить</a></div>
            </div>
          </div>
          <div class="column">
            <div>
              <div class="cell">
                <p>Небольшой магазин и хостинг свой</p>
              </div>
              <div class="cell">55 800 <sup>руб</sup></div>
              <div style="height: 308px;" class="cell">
                <ul>
                  <li>Маркет — адаптивный интернет-магазин</li>
                  <li>Лицензия «1С-Битрикс: Управление сайтом — Малый бизнес»</li>
                  <li>Бесплатная установка</li>
                </ul>
              </div>
              <div class="cell"><a href="/personal/cart/add2backet.php?nabor=1&amp;order[]=59&amp;order[]=8&amp;order[]=38" class="b-button i-scheme-2">Купить</a></div>
            </div>
          </div>
          <div class="column">
            <div>
              <div class="cell">
                <p>Ваш первый интернет-магазин</p>
              </div>
              <div class="cell">57 650 <sup>руб</sup></div>
              <div style="height: 308px;" class="cell">
                <ul>
                  <li>Маркет — адаптивный интернет-магазин</li>
                  <li>Лицензия «1С-Битрикс: Управление сайтом — Малый бизнес»</li>
                  <li>Хостинг на 1 месяц — 10 Гб</li>
                  <li>Домен .RU</li>
                  <li>Бесплатная установка</li>
                </ul>
              </div>
              <div class="cell"><a href="/personal/cart/add2backet.php?nabor=1&amp;order[]=59&amp;order[]=8&amp;order[]=89&amp;order[]=16&amp;order[]=38" class="b-button i-scheme-2">Купить</a></div>
            </div>
          </div>
        </div>
        <hr/>
        <div class="b-solution-options i-lite">
          <form action="" method="GET">
            <ul>
              <li data-disabled="Эту позицию нельзя удалить из заказа." class="b-so__i">
                <input type="checkbox" name="order[]" value="val1" checked="checked" class="b-so__checkbox"/>
                <div class="b-so__name">Лицензия «Готовый интернет-магазин Seller»</div>
                <div class="b-so__price"><span class="b-so__price-num">17 000</span><span class="b-so__price-unit">руб.</span></div>
                <div class="b-so__price i-old"><span class="b-so__price-num">18 000</span><span class="b-so__price-unit">руб.</span></div>
              </li>
              <li class="b-so__i">
                <input type="checkbox" name="order[]" value="val2" checked="checked" class="b-so__checkbox"/>
                <div class="b-so__name">
                  <div class="b-so__select-container">
                    <select class="b-so__select">
                      <option value="val1" data-price="15 000" data-old-price="17 000">Малый бизнес</option>
                      <option value="val2" data-price="20 000">Интернет-магазин</option>
                      <option value="val3" data-price="22 000">Решения для государственных организаций</option>
                      <option value="val4" data-price="30 000">Сайт конференции</option>
                    </select>
                  </div>
                </div>
                <div class="b-so__price"><span class="b-so__price-num">27 900</span><span class="b-so__price-unit">руб.</span></div>
                <div class="b-so__price i-old"><span class="b-so__price-num">37 900</span><span class="b-so__price-unit">руб.</span></div>
              </li>
              <li class="b-so__i">
                <input type="checkbox" name="order[]" value="val3" checked="checked" class="b-so__checkbox"/>
                <div class="b-so__name">
                  <div class="b-so__select-container">
                    <select name="order[]" class="b-so__select">
                      <option value="val1" data-price="2 000">Хостинг 1 год (3 Гб)</option>
                      <option value="val2" data-price="3 000">Хостинг 2 года (3 Гб)</option>
                      <option value="val3" data-price="4 000">Хостинг 3 года (3 Гб)</option>
                      <option value="val4" data-price="5 000">Хостинг 4 года (3 Гб)</option>
                    </select>
                  </div>
                </div>
                <div class="b-so__price"><span class="b-so__price-num">3 000</span><span class="b-so__price-unit">руб.</span></div>
              </li>
              <li class="b-so__i">
                <input type="checkbox" name="order[]" value="val4" checked="checked" class="b-so__checkbox"/>
                <div class="b-so__name">Домен</div>
                <div class="b-so__price"><span class="b-so__price-num">600</span><span class="b-so__price-unit">руб.</span></div>
              </li>
            </ul>
            <hr class="i-size-M"/>
            <div class="b-so__summ"><span class="b-so__summ-num">56 000</span><sup class="b-so__summ-unit">руб.</sup></div>
            <div class="b-so__button">
              <input type="submit" value="Купить" name="BuyButton"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr class="i-size-L"/>
  <div class="b-ce__banner">
    <div class="b-container">
      <div class="b-row">
        <div class="b-col-sm-6 b-ce__banner__text">
          <h3><span>Готовый интернет-магазин одежды Seller</span></h3>
        </div>
        <div class="b-col-sm-6 b-ce__banner__button"><a href="" class="b-button i-scheme-4">Задать вопрос</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end catalog.element component-->