
<!--begin catalog.element component-->
<link rel="stylesheet" href="/components/catalog.element/style.css"/>
<div class="b-catalog-element">
  <div class="b-container">
    <div class="b-tabs">
      <nav class="b-tabs__nav">
        <div class="b-tabs__decor"></div><a href="" data-tab="review" class="b-tabs__tab i-active">Обзор</a><a href="" data-tab="installation" class="b-tabs__tab">Установка</a><a href="" data-tab="packaging" class="b-tabs__tab">Комплектация</a><a href="" data-tab="price_table" class="b-tabs__tab">Цены</a>
      </nav>
      <hr class="i-size-L"/>
      <div data-tab="review" class="b-tabs__i i-active">
        <!-- start /components/gallery/-->
        <link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"/>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
        <div data-width="100%" data-loop="true" data-keyboard="true" data-ratio="1089/624" class="fotorama"><img src="http://s.fotorama.io/1.jpg"/><img src="http://s.fotorama.io/2.jpg"/><img src="http://s.fotorama.io/1.jpg"/><img src="http://s.fotorama.io/2.jpg"/></div>
        <!-- end /components/gallery/-->
        <hr/>
        <p>Готовый интернет-магазин Seller — хорошее решение для быстрого запуска интернет-магазина модной одежды или аксессуаров. </p>
        <h2>Адаптивная верстка </h2>
        <p>Интернет-магазин одежды Seller создан с учетом мульти-платформенного использования. Это значит, что независимо от того, какое устройство используют ваши посетители: персональный компьютер, планшет или смартфон, ваш магазин будет отображать информацию максимально удобно и сохранит все функциональные возможности. </p>
        <h2>Маркетинговые возможности </h2>
        <p>Для эффективной работы с посетителями сайта вы сможете использовать самые разные инструменты: </p>
        <ul>
          <li>Баннеры;</li>
          <li>Рекомендации;</li>
          <li>Новинки;</li>
          <li>Хиты продаж;</li>
          <li>Акции;</li>
          <li>Подписки;</li>
          <li>Комментарии;</li>
          <li>Оценки. </li>
        </ul>
        <h2>Поиск по сайту </h2>
        <p>Seller предлагает несколько способов навигации по сайту, настроив которые, вы сможете показывать вашим клиентам максимально точные предложения. </p>
        <ul>
          <li>Морфологический поиск;</li>
          <li>Тэги;</li>
          <li>Каталог по типу продукции;</li>
          <li>Каталог по брендам;</li>
          <li>Фильтр по параметрам;</li>
          <li>Сортировка каталога. </li>
        </ul>
        <h2>Информация для покупателя </h2>
        <p>Корпоративные разделы помогут рассказать вашим покупателям главные принципы работы и условия покупки. А также обеспечат дополнительную информационную поддержку. </p>
        <ul>
          <li>О магазине;</li>
          <li>Новости;</li>
          <li>Контакты;</li>
          <li>Вакансии;</li>
          <li>Как купить;</li>
          <li>Оплата;</li>
          <li>Доставка;</li>
          <li>Гарантия. </li>
        </ul>
        <h2>Корпоративные разделы </h2>
        <ul>
          <li>О магазине;</li>
          <li>Вакансии;</li>
          <li>Статьи. </li>
        </ul>
      </div>
      <div data-tab="installation" class="b-tabs__i">
        <h2>Установка</h2>
        <p>Очень простая установка одной кнопкой.</p>
      </div>
      <div data-tab="packaging" class="b-tabs__i">
        <h2>Комплектация c редакциями 1С-Битрикс </h2>
        <table class="b-table">
          <thead>
            <tr>
              <th></th>
              <th>1С-Битрикс:<br>Малый Бизнес</th>
              <th>1С-Битрикс:<br>Бизнес</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th colspan="3"><b>Основные функции</b></th>
            </tr>
            <tr>
              <th>Каталог товаров</th>
              <td><i></i></td>
              <td><i> </i></td>
            </tr>
            <tr>
              <th>Торговые предложения</th>
              <td></td>
              <td><i></i></td>
            </tr>
            <tr>
              <th>Импорт каталога товаров из 1С, Excel или CSV</th>
              <td><i></i></td>
              <td><i></i></td>
            </tr>
            <tr>
              <th colspan="3"><b>Основные функции</b></th>
            </tr>
            <tr>
              <th>Каталог товаров</th>
              <td><i></i></td>
              <td><i> </i></td>
            </tr>
            <tr>
              <th>Торговые предложения</th>
              <td></td>
              <td><i></i></td>
            </tr>
            <tr>
              <th>Импорт каталога товаров из 1С, Excel или CSV</th>
              <td><i></i></td>
              <td><i></i></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div data-tab="price_table" class="b-tabs__i">
        <h2 class="w_m">Варианты покупки</h2>
        <div class="price_table">
          <div class="column">
            <div>
              <div class="cell">
                <p>Только Маркет</p>
              </div>
              <div class="cell">19 900 <sup>руб</sup></div>
              <div style="height: 308px;" class="cell">
                <ul>
                  <li>Маркет — адаптивный интернет-магазин</li>
                </ul>
              </div>
              <div class="cell"><a href="/personal/cart/add2backet.php?nabor=1&amp;order[]=59" class="b-button i-scheme-2">Купить</a></div>
            </div>
          </div>
          <div class="column">
            <div>
              <div class="cell">
                <p>Небольшой магазин и хостинг свой</p>
              </div>
              <div class="cell">55 800 <sup>руб</sup></div>
              <div style="height: 308px;" class="cell">
                <ul>
                  <li>Маркет — адаптивный интернет-магазин</li>
                  <li>Лицензия «1С-Битрикс: Управление сайтом — Малый бизнес»</li>
                  <li>Бесплатная установка</li>
                </ul>
              </div>
              <div class="cell"><a href="/personal/cart/add2backet.php?nabor=1&amp;order[]=59&amp;order[]=8&amp;order[]=38" class="b-button i-scheme-2">Купить</a></div>
            </div>
          </div>
          <div class="column">
            <div>
              <div class="cell">
                <p>Ваш первый интернет-магазин</p>
              </div>
              <div class="cell">57 650 <sup>руб</sup></div>
              <div style="height: 308px;" class="cell">
                <ul>
                  <li>Маркет — адаптивный интернет-магазин</li>
                  <li>Лицензия «1С-Битрикс: Управление сайтом — Малый бизнес»</li>
                  <li>Хостинг на 1 месяц — 10 Гб</li>
                  <li>Домен .RU</li>
                  <li>Бесплатная установка</li>
                </ul>
              </div>
              <div class="cell"><a href="/personal/cart/add2backet.php?nabor=1&amp;order[]=59&amp;order[]=8&amp;order[]=89&amp;order[]=16&amp;order[]=38" class="b-button i-scheme-2">Купить</a></div>
            </div>
          </div>
        </div>
      </div>
      <hr class="i-size-L"/>
      <h2 class="w_m">Выберите свою комплектацию </h2>
      <div class="b-solution-options i-lite">
        <form action="" method="GET">
          <ul>
            <li data-disabled="Эту позицию нельзя удалить из заказа." class="b-so__i">
              <input type="checkbox" name="order[]" value="val1" checked="checked" class="b-so__checkbox"/>
              <div class="b-so__name">Лицензия «Готовый интернет-магазин Seller»</div>
              <div class="b-so__price"><span class="b-so__price-num">17 000</span><span class="b-so__price-unit">руб.</span></div>
            </li>
            <li class="b-so__i">
              <input type="checkbox" name="order[]" value="val2" checked="checked" class="b-so__checkbox"/>
              <div class="b-so__name">
                <div class="b-so__select-container">
                  <select class="b-so__select">
                    <option value="val1" data-price="15 000">Малый бизнес</option>
                    <option value="val2" data-price="20 000">Интернет-магазин</option>
                    <option value="val3" data-price="22 000">Решения для государственных организаций</option>
                    <option value="val4" data-price="30 000">Сайт конференции</option>
                  </select>
                </div>
              </div>
              <div class="b-so__price"><span class="b-so__price-num">27 900</span><span class="b-so__price-unit">руб.</span></div>
            </li>
            <li class="b-so__i">
              <input type="checkbox" name="order[]" value="val3" checked="checked" class="b-so__checkbox"/>
              <div class="b-so__name">
                <div class="b-so__select-container">
                  <select name="order[]" class="b-so__select">
                    <option value="val1" data-price="2 000">Хостинг 1 год (3 Гб)</option>
                    <option value="val2" data-price="3 000">Хостинг 2 года (3 Гб)</option>
                    <option value="val3" data-price="4 000">Хостинг 3 года (3 Гб)</option>
                    <option value="val4" data-price="5 000">Хостинг 4 года (3 Гб)</option>
                  </select>
                </div>
              </div>
              <div class="b-so__price"><span class="b-so__price-num">3 000</span><span class="b-so__price-unit">руб.</span></div>
            </li>
            <li class="b-so__i">
              <input type="checkbox" name="order[]" value="val4" checked="checked" class="b-so__checkbox"/>
              <div class="b-so__name">Домен</div>
              <div class="b-so__price"><span class="b-so__price-num">600</span><span class="b-so__price-unit">руб.</span></div>
            </li>
          </ul>
          <hr class="i-size-M"/>
          <div class="b-so__summ"><span class="b-so__summ-num">56 000</span><sup class="b-so__summ-unit">руб.</sup></div>
          <div class="b-so__button">
            <input type="submit" value="Купить" name="BuyButton"/>
          </div>
        </form>
      </div>
    </div>
  </div>
  <hr class="i-size-L"/>
  <div class="b-ce__banner">
    <div class="b-container">
      <div class="b-row">
        <div class="b-col-sm-6 b-ce__banner__text">
          <h3><span>Готовый интернет-магазин одежды Seller</span></h3>
        </div>
        <div class="b-col-sm-6 b-ce__banner__button"><a href="" class="b-button i-scheme-4">Задать вопрос</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end catalog.element component-->