#b-slider
  img(
    src="/template/images/bejet-logo.png",
    alt=""
  )
      
  h4 Типы решений
  menu
    li
      a(href="") Интренет-магазины
    li
      a(href="") Корпоративные веб-сайты
    li
      a(href="") Модули

  h4 Отрасли
  menu
    li
      a(href="") Сервис центр
    li
      a(href="") Юридические услуги
    li
      a(href="") Одежда
      
  menu
    li
      a(href="") Что такое Bejet
    li
      a(href="") Зачем?
    li
      a(href="") Как купить
    li
      a(href="") Написать в поддержку
    li
      a(href="") Партнерам