@import '../../styl/component-include.styl'

#b-slider
  position fixed
  top 0
  left 0
  width 275px
  height 100%
  background-color #242424
  padding 50px
  box-sizing( border-box )
  transform( translate( -275px ) )
  transition( all 0.5s ease )
  z-index 990
    
  &.i-open
    transform( translate(0) )
  
  .i-popup-active &
    display none