a.b-list__i(
  href="/solution/"
  data-img="/upload/list/3.jpg"
)
  img.b-list__img(
    src="/upload/list/3.jpg"
  )
  
  span.b-list__props
    span.b-list__title
      block title
        |Сайт
      
    span.b-list__name
      block name
        |Сервисная компания
      
    span.b-list__price
      block price
        |14 000 руб.
    
  span.b-list__shutter
    span.b-list__sh-title
      block sh-title
        |Сайт сервисной компании
    span.b-list__sh-price
      span.b-list__sh-num
        block price
          |14 000 руб.
      span.b-list__sh-text рублей
    span.b-list__sh-button
      span.b-button Подробнее