extends ./item-layout.jade
    
block title
  |Сайт
    
block name
  |UniGarderob — адаптивный интернет-магазин одежды, обуви и аксессуаров
    
block price
  |19 900 руб.
  
block sh-title
  |UniGarderob — адаптивный интернет-магазин одежды, обуви и аксессуаров