//begin catalog.list component

link( rel="stylesheet", href="/components/catalog.list/style.css" )
script( src="/components/catalog.list/script.js" )

.b-catalog-list
  .b-list

    include ./item.jade
    
    include ./item.jade
    
    include ./item.jade
    
    .b-empty
      .b-empty__cont
        .b-empty__i
          span Скоро
        .b-empty__i
          span Скоро
        .b-empty__i
          span Скоро
        .b-empty__i
          span Скоро
          
  .b-load
    include ../../modules/button/load
      
//end catalog.list component