h2.text-center Выбор решения
p.text-center Ответьте на все вопросы помощника и о пдскажет, какие решения подходят для вас.

hr.i-size-M

.b-helper-fieldset
  .row
    .col-sm-6
      h3 Для чего вам нужен сайт?
      p Версия разделов оформления заказа
  .row
    .col-sm-4
      .b-radio-anim
        input#radio1( type="radio" name="type1" value="0" checked )
        label( for="radio1" ) Разместить информацию о компании
    .col-sm-4
      .b-radio-anim
        input#radio2( type="radio" name="type1" value="1" )
        label( for="radio2" ) Продавать услуги
    .col-sm-4
      .b-radio-anim
        input#radio3( type="radio" name="type1" value="2" )
        label( for="radio3" ) Продавать товары