h2.text-center Цветовая схема
p.text-center Ответьте на все вопросы помощника и о пдскажет, какие решения подходят для вас.

hr.i-size-M

.b-helper-fieldset
  .row
    .col-sm-6
      h3 Версия разделов оформления заказа, версия разделов оформления заказа
  .row
    .col-sm-4
      .b-checkbox-anim
        input#checkbox1( type="checkbox" name="type2[]" value="0" checked )
        label( for="checkbox1" ) Продавать товары
    .col-sm-4
      .b-checkbox-anim
        input#checkbox2( type="checkbox" name="type2[]" value="1" )
        label( for="checkbox2" ) Разместить информацию о компании
    .col-sm-4
      .b-checkbox-anim
        input#checkbox3( type="checkbox" name="type2[]" value="2" )
        label( for="checkbox3" ) Продавать услуги