h2.text-center Модули
p.text-center Ответьте на все вопросы помощника и о пдскажет, какие решения подходят для вас.

hr.i-size-M
      
.b-helper-fieldset
  .row
    .col-sm-6
      h3 Версия разделов оформления заказа, версия разделов оформления заказа
  .row
    .col-sm-4
      .b-checkbox-anim
        input#checkbox4( type="checkbox" name="type4[]" value="3" )
        label( for="checkbox4" ) Продавать товары
    .col-sm-4
      .b-checkbox-anim
        input#checkbox5( type="checkbox" name="type4[]" value="4" )
        label( for="checkbox5" ) Разместить информацию о компании
    .col-sm-4
      .b-checkbox-anim
        input#checkbox6( type="checkbox" name="type4[]" value="5" )
        label( for="checkbox6" ) Продавать услуги