// start /components/helper/

link( rel="stylesheet", href="/components/helper/style.css" )
script( src="/components/helper/script.js" )

h1 Подбор готового веб-сайта
hr.i-size-L

.b-helper
  .b-helper-tabs
    nav
      a( href="" ) Выбор решения
      a( href="" ) Выбор тематики
      a( href="" ) Цветовая схема
      a( href="" ) Модули
      
  .b-helper-body
    
    h2 Тематика веб-сайта
    p Ответьте на все вопросы помощника и о пдскажет, какие решения подходят для вас.
  
    .b-helper-fieldset
      .row
        .col-sm-6
          h3 Для чего вам нужен сайт?
          p Версия разделов оформления заказа
      .row
        .col-sm-4
          .b-radio-anim
            input( type="radio" name="type1" value="0" )
            label Резместить информацию о компании
        .col-sm-4
          input( type="radio" name="type1" value="1" )
          p Продавать услуги
        .col-sm-4
          input( type="radio" name="type1" value="2" )
          p Продавать товары
          
    .b-helper-fieldset
      .row
        .col-sm-6
          h3 Версия разделов оформления заказа, версия разделов оформления заказа
      .row
        .col-sm-4
          input( type="checkbox" name="type2[]" value="0" )
          p Резместить информацию о компании
        .col-sm-4
          input( type="checkbox" name="type2[]" value="1" )
          p Продавать услуги
        .col-sm-4
          input( type="checkbox" name="type2[]" value="2" )
          p Продавать товары
      .row
        .col-sm-4
          input( type="checkbox" name="type2[]" value="3" )
          p Резместить информацию о компании
        .col-sm-4
          input( type="checkbox" name="type2[]" value="4" )
          p Продавать услуги
        .col-sm-4
          input( type="checkbox" name="type2[]" value="5" )
          p Продавать товары
          
    .b-helper-fieldset
      .row
        .col-sm-6
          h3 Версия разделов оформления заказа, версия разделов оформления заказа
      .row
        .col-sm-4
          input( type="checkbox" name="type2[]" value="0" )
          img( src="" )
          p Резместить информацию о компании
        .col-sm-4
          input( type="checkbox" name="type2[]" value="1" )
          img( src="" )
          p Продавать услуги
        .col-sm-4
          input( type="checkbox" name="type2[]" value="2" )
          img( src="" )
          p Продавать товары
    

// end /components/helper/