h2.text-center Тематика веб-сайта
p.text-center Ответьте на все вопросы помощника и о пдскажет, какие решения подходят для вас.

hr.i-size-M
      
.b-helper-fieldset
  .row
    .col-sm-6
      h3 Версия разделов оформления заказа, версия разделов оформления заказа
  .row
    .col-sm-4
      .b-checkbox-anim
        input#checkbox7( type="checkbox" name="type3[]" value="0" checked )
        label( for="checkbox7" )
          img( src="/template/images/bg.gif" )
          br
          | Продавать услуги
    .col-sm-4
      .b-checkbox-anim
        input#checkbox8( type="checkbox" name="type3[]" value="1" )
        label( for="checkbox8" )
          img( src="/template/images/bg.gif" )
          br
          | Продавать услуги
    .col-sm-4
      .b-checkbox-anim
        input#checkbox9( type="checkbox" name="type3[]" value="2" )
        label( for="checkbox9" )
          img( src="/template/images/bg.gif" )
          br
          | Разместить информацию о компании
      
  .row
    .col-sm-4
      .b-radio-anim
        input#radio4( type="radio" name="type5" value="0" checked )
        label( for="radio4" )
          img( src="/template/images/bg.gif" )
          br
          | Продавать услуги
    .col-sm-4
      .b-radio-anim
        input#radio5( type="radio" name="type5" value="1" )
        label( for="radio5" )
          img( src="/template/images/bg.gif" )
          br
          | Продавать услуги
    .col-sm-4
      .b-radio-anim
        input#radio6( type="radio" name="type5" value="2" )
        label( for="radio6" )
          img( src="/template/images/bg.gif" )
          br
          | Разместить информацию о компании