
<div itemscope="itemscope" itemtype="http://schema.org/Blog" class="b-blog-list">
  <div class="row">
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/1.jpg" alt=""/></a>
        <h3><a href="">Travelers 1.1.0</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 Июня 2017</div>
      </div>
    </div>
    <hr class="i-size-L visible-xs"/>
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/2.jpg" alt=""/></a>
        <h3><a href="">Аспро: Оптимус 1.0.8 новинки Аспро: Оптимус 1.0.8 новинки</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 Июня 2017</div>
      </div>
    </div>
    <hr class="i-size-L visible-xs"/>
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/1.jpg" alt=""/></a>
        <h3><a href="">Сколько стоит готовый интернет-магазин</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 сентября 2017</div>
      </div>
    </div>
  </div>
  <hr class="i-size-L"/>
  <div class="row">
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/1.jpg" alt=""/></a>
        <h3><a href="">Travelers 1.1.0</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 Июня 2017</div>
      </div>
    </div>
    <hr class="i-size-L visible-xs"/>
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/2.jpg" alt=""/></a>
        <h3><a href="">Аспро: Оптимус 1.0.8 новинки Аспро: Оптимус 1.0.8 новинки</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 Июня 2017</div>
      </div>
    </div>
    <hr class="i-size-L visible-xs"/>
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/1.jpg" alt=""/></a>
        <h3><a href="">Сколько стоит готовый интернет-магазин</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 сентября 2017</div>
      </div>
    </div>
  </div>
  <hr class="i-size-L"/>
  <div class="row">
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/1.jpg" alt=""/></a>
        <h3><a href="">Travelers 1.1.0</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 Июня 2017</div>
      </div>
    </div>
    <hr class="i-size-L visible-xs"/>
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/2.jpg" alt=""/></a>
        <h3><a href="">Аспро: Оптимус 1.0.8 новинки Аспро: Оптимус 1.0.8 новинки</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 Июня 2017</div>
      </div>
    </div>
    <hr class="i-size-L visible-xs"/>
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/1.jpg" alt=""/></a>
        <h3><a href="">Сколько стоит готовый интернет-магазин</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 сентября 2017</div>
      </div>
    </div>
  </div>
  <hr class="i-size-L"/>
  <div class="row">
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/1.jpg" alt=""/></a>
        <h3><a href="">Travelers 1.1.0</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 Июня 2017</div>
      </div>
    </div>
    <hr class="i-size-L visible-xs"/>
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/2.jpg" alt=""/></a>
        <h3><a href="">Аспро: Оптимус 1.0.8 новинки Аспро: Оптимус 1.0.8 новинки</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 Июня 2017</div>
      </div>
    </div>
    <hr class="i-size-L visible-xs"/>
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/1.jpg" alt=""/></a>
        <h3><a href="">Сколько стоит готовый интернет-магазин</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 сентября 2017</div>
      </div>
    </div>
  </div>
</div>