
<!-- start /components/blog/-->
<link rel="stylesheet" href="/components/blog/style.css"/>
<script src="/components/blog/script.js"></script>
<h1>Блог Bejet</h1>
<p>Анонсы тиражных решений и полезных инструментов для владельцев веб-сайтов.</p>
<hr/>
<h2>Актуальные новости</h2>
<hr/>
<div itemscope="itemscope" itemtype="http://schema.org/Blog" class="b-blog-list">
  <div class="row">
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/1.jpg" alt=""/></a>
        <h3><a href="">Travelers 1.1.0</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 Июня 2017</div>
      </div>
    </div>
    <hr class="i-size-L visible-xs"/>
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/2.jpg" alt=""/></a>
        <h3><a href="">Аспро: Оптимус 1.0.8 новинки Аспро: Оптимус 1.0.8 новинки</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 Июня 2017</div>
      </div>
    </div>
    <hr class="i-size-L visible-xs"/>
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/1.jpg" alt=""/></a>
        <h3><a href="">Сколько стоит готовый интернет-магазин</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 сентября 2017</div>
      </div>
    </div>
  </div>
  <hr class="i-size-L"/>
  <div class="row">
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/1.jpg" alt=""/></a>
        <h3><a href="">Travelers 1.1.0</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 Июня 2017</div>
      </div>
    </div>
    <hr class="i-size-L visible-xs"/>
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/2.jpg" alt=""/></a>
        <h3><a href="">Аспро: Оптимус 1.0.8 новинки Аспро: Оптимус 1.0.8 новинки</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 Июня 2017</div>
      </div>
    </div>
    <hr class="i-size-L visible-xs"/>
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/1.jpg" alt=""/></a>
        <h3><a href="">Сколько стоит готовый интернет-магазин</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 сентября 2017</div>
      </div>
    </div>
  </div>
  <hr class="i-size-L"/>
  <div class="row">
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/1.jpg" alt=""/></a>
        <h3><a href="">Travelers 1.1.0</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 Июня 2017</div>
      </div>
    </div>
    <hr class="i-size-L visible-xs"/>
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/2.jpg" alt=""/></a>
        <h3><a href="">Аспро: Оптимус 1.0.8 новинки Аспро: Оптимус 1.0.8 новинки</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 Июня 2017</div>
      </div>
    </div>
    <hr class="i-size-L visible-xs"/>
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/1.jpg" alt=""/></a>
        <h3><a href="">Сколько стоит готовый интернет-магазин</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 сентября 2017</div>
      </div>
    </div>
  </div>
  <hr class="i-size-L"/>
  <div class="row">
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/1.jpg" alt=""/></a>
        <h3><a href="">Travelers 1.1.0</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 Июня 2017</div>
      </div>
    </div>
    <hr class="i-size-L visible-xs"/>
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/2.jpg" alt=""/></a>
        <h3><a href="">Аспро: Оптимус 1.0.8 новинки Аспро: Оптимус 1.0.8 новинки</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 Июня 2017</div>
      </div>
    </div>
    <hr class="i-size-L visible-xs"/>
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/1.jpg" alt=""/></a>
        <h3><a href="">Сколько стоит готовый интернет-магазин</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 сентября 2017</div>
      </div>
    </div>
  </div>
</div>
<hr/>
<h2>Статья    </h2>
<hr/>
<div itemscope="itemscope" itemtype="http://schema.org/Blog" class="b-blog-list">
  <div class="row">
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/1.jpg" alt=""/></a>
        <h3><a href="">Travelers 1.1.0</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 Июня 2017</div>
      </div>
    </div>
    <hr class="i-size-L visible-xs"/>
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/2.jpg" alt=""/></a>
        <h3><a href="">Аспро: Оптимус 1.0.8 новинки Аспро: Оптимус 1.0.8 новинки</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 Июня 2017</div>
      </div>
    </div>
    <hr class="i-size-L visible-xs"/>
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/1.jpg" alt=""/></a>
        <h3><a href="">Сколько стоит готовый интернет-магазин</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 сентября 2017</div>
      </div>
    </div>
  </div>
  <hr class="i-size-L"/>
  <div class="row">
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/1.jpg" alt=""/></a>
        <h3><a href="">Travelers 1.1.0</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 Июня 2017</div>
      </div>
    </div>
    <hr class="i-size-L visible-xs"/>
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/2.jpg" alt=""/></a>
        <h3><a href="">Аспро: Оптимус 1.0.8 новинки Аспро: Оптимус 1.0.8 новинки</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 Июня 2017</div>
      </div>
    </div>
    <hr class="i-size-L visible-xs"/>
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/1.jpg" alt=""/></a>
        <h3><a href="">Сколько стоит готовый интернет-магазин</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 сентября 2017</div>
      </div>
    </div>
  </div>
  <hr class="i-size-L"/>
  <div class="row">
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/1.jpg" alt=""/></a>
        <h3><a href="">Travelers 1.1.0</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 Июня 2017</div>
      </div>
    </div>
    <hr class="i-size-L visible-xs"/>
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/2.jpg" alt=""/></a>
        <h3><a href="">Аспро: Оптимус 1.0.8 новинки Аспро: Оптимус 1.0.8 новинки</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 Июня 2017</div>
      </div>
    </div>
    <hr class="i-size-L visible-xs"/>
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/1.jpg" alt=""/></a>
        <h3><a href="">Сколько стоит готовый интернет-магазин</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 сентября 2017</div>
      </div>
    </div>
  </div>
  <hr class="i-size-L"/>
  <div class="row">
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/1.jpg" alt=""/></a>
        <h3><a href="">Travelers 1.1.0</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 Июня 2017</div>
      </div>
    </div>
    <hr class="i-size-L visible-xs"/>
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/2.jpg" alt=""/></a>
        <h3><a href="">Аспро: Оптимус 1.0.8 новинки Аспро: Оптимус 1.0.8 новинки</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 Июня 2017</div>
      </div>
    </div>
    <hr class="i-size-L visible-xs"/>
    <div class="col-sm-4">
      <div class="b-blog-list-item"><a href="" class="b-blog-list-item__img"><img src="/upload/blog/1.jpg" alt=""/></a>
        <h3><a href="">Сколько стоит готовый интернет-магазин</a></h3>
        <p>Вышло обновление для готового сайта туристической компании Travelers, которое позволяет добавлять страны, регионы и курорты.</p>
        <div class="i-small-text text-muted">30 сентября 2017</div>
      </div>
    </div>
  </div>
</div>
<hr class="i-size-L"/>
<div class="b-pagination"><a href="" class="b-pagination__prev">Предыдущая страница</a><span class="b-pagination__pages"><a href="">1</a><a href="">2</a><a href="">3</a><a href="">4</a><span>5</span><a href="">6</a><a href="">7</a><a href="">8</a></span><a href="" class="b-pagination__next">Следующая страница</a></div>
<hr class="i-size-XL"/>
<!-- start /components/subscription/-->
<link rel="stylesheet" href="/components/subscription/style.css"/>
<script src="/template/cookie.js"></script>
<script src="/components/subscription/script.js"></script>
<div class="b-subscription">
  <form action="/components/subscription/send.json" method="GET">
    <fieldset>
      <h2>Подписка</h2>
      <hr/>
      <p>Обзоры обновлений, новинки маркетплейса, сравнения и рецензии на решения, скидки.</p>
      <div class="b-form-field i-float">
        <label class="b-label">Email</label>
        <input type="email" name="email" value="" required="required" class="b-input-text"/><span class="b-asterisk">*</span>
      </div>
    </fieldset>
    <hr class="i-size-L"/>
    <div class="b-form-submit">
      <button type="submit" class="b-button i-scheme-2">Подписаться</button>
    </div>
  </form>
  <fieldset class="b-message">
    <h3>Ваш запрос на подписку принят</h3>
    <hr/>
    <p>Пожалуйста проверьте вашу почту, чтобы подтвердить вашу подписку.</p>
    <p>Спасибо!</p>
  </fieldset>
</div>
<div class="b-subscription i-white">
  <form action="/components/subscription/error.json" method="GET">
    <fieldset>
      <h2>Подписка</h2>
      <hr/>
      <p>Обзоры обновлений, новинки маркетплейса, сравнения и рецензии на решения, скидки.</p>
      <div class="b-form-field i-float">
        <label class="b-label">Email</label>
        <input type="email" name="email" value="" required="required" class="b-input-text"/><span class="b-asterisk">*</span>
      </div>
    </fieldset>
    <hr class="i-size-L"/>
    <div class="b-form-submit">
      <button type="submit" class="b-button i-scheme-2">Подписаться</button>
    </div>
  </form>
  <fieldset class="b-message">
    <h3>Ваш запрос на подписку принят</h3>
    <hr/>
    <p>Пожалуйста проверьте вашу почту, чтобы подтвердить вашу подписку.</p>
    <p>Спасибо!</p>
  </fieldset>
</div>
<!-- end /components/subscription/-->
<!-- end /components/blog/-->