@import '../../styl/component-include.styl'

.b-catalog-basket
  margin-bottom 80px
  
  h1
    text-align center
    color #fff
    
.b-license
  max-width 520px
  margin-right auto
  margin-left auto
  
  .b-input-text
    width 100%