extends ./layouts/main.jade

block top-banner
  include ./modules/top-banner/include.jade

block content

    include ./components/catalog.list/template.jade
        
    section.b-container.b-content
      h1 Bejet
      p.b-large-text Bejet — компания предлагающая на Российском рынке новый сегмент веб-предложений для бизнеса — тиражные решения. 
      p.b-large-text Легко устанавливаемые и уже готовые для использования решения направлены на быстрый запуск веб-проекта и минимизацию рисков. Первым решением компании стал «Готовый сайт компании ©» созданный и запущенный в продажу в начале 2010 года.
      
      hr.i-size-XL
      
      include ./components/testimonials/template.jade