extends ./layouts/main.jade

block content

  .b-container

    h2 Страницы
    ul
      li
        a( href="/pages/main/" ) Главная
      li
        a( href="/pages/basket/" ) Корзина
      li
        a( href="/pages/basket/confirmation/" ) Подтверждение заказа