extends ../../layouts/form.jade

block title
  |Confirmation | Bejet

block content
  .b-container
    
    hr.i-size-L
    
    .i-center.i-layer
      h1 Заказ сформирован
      p Ваш заказ 
        br
        b №29 от 18.02.2015 09:40:25 
        br
        |успешно создан.
      
      p Вы можете следить за выполнением своего заказа в 
        a( href="" ) Персональном&nbsp;разделе&nbsp;сайта
        |. 
        |Обратите внимание, что для входа в этот раздел вам необходимо будет ввести логин и пароль пользователя сайта.
      
      h3 Оплата заказа
      p Карта 
      |Если окно с платежной информацией не открылось автоматически, нажмите
      
      p
        include ../../modules/button/pay
      
      hr.i-size-L
