nav.b-tabs__nav
  
  .b-tabs__decor
  a(href="", data-tab="license").b-tabs__tab.i-active Лицензии
  a(href="", data-tab="prolongation").b-tabs__tab Продления
  a(href="", data-tab="conversion").b-tabs__tab Переходы
  a(href="", data-tab="extra").b-tabs__tab Дополнительные сайты