nav.b-tabs__nav
  .b-tabs__decor
  a(href="", data-tab="review").b-tabs__tab.i-active Обзор
  a(href="", data-tab="installation").b-tabs__tab Установка
  a(href="", data-tab="packaging").b-tabs__tab Комплектация

  //-.b-tabs__i.i-active( data-tab="review" )
  //-  | First tab