nav.b-tabs__nav
  
  a( href="" ).i-new-win Демо-версия
  
  .b-tabs__decor
  a(href="", data-tab="review").b-tabs__tab.i-active Обзор
  a(href="", data-tab="installation").b-tabs__tab Установка
  a(href="", data-tab="packaging").b-tabs__tab Комплектация
  a(href="", data-tab="price_table").b-tabs__tab Цены

  //-.b-tabs__i.i-active( data-tab="review" )
  //-  | First tab