nav.b-tabs__nav
  
  .b-tabs__decor
  a(href="", data-tab="review").b-tabs__tab.i-active Обзор
  a(href="", data-tab="installation").b-tabs__tab Установка
  a(href="", data-tab="price_table").b-tabs__tab Цены
  a(href="", data-tab="advantages").b-tabs__tab Примеры
  a(href="", data-tab="packaging").b-tabs__tab Обновления

  //-.b-tabs__i.i-active( data-tab="review" )
  //-  | First tab