extends ../../layouts/main.jade

block content
  
  include ../../components/catalog.group.gallery/template.jade

  include ../../components/catalog.list/template.jade
      
  section.b-container.b-content
    h1 Интернет-магазины
    p.b-large-text Bejet — компания предлагающая на Российском рынке новый сегмент веб-предложений для бизнеса — тиражные решения. 
    p.b-large-text Легко устанавливаемые и уже готовые для использования решения направлены на быстрый запуск веб-проекта и минимизацию рисков. Первым решением компании стал «Готовый сайт компании ©» созданный и запущенный в продажу в начале 2010 года.