extends ../layouts/main.jade

block top-banner
  include ../modules/top-banner/solution.jade

block content
  
  include ../components/catalog.element/template.jade
  
  include ../components/catalog.list.line/template.jade
  
  include ../modules/other/solutions.jade